.like-button {
  background-color: white;
  color: grey;
  padding: 8px 16px;
  border: solid gray 1px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.like-button.liked {
  background-color: palevioletred;
  color: white;
}

.like-button:hover {
  background-color: pink;
}
